{%- assign categories = site.categories | sort -%}
{% if categories.size > 0 %}
<h3>Categories</h3>
<ul class="nav__items">
  {% for category in categories %}
    {% assign category_name = category | first %}
    {% assign category_size = category | last | size %}
    <li>
      {% assign slug = site.data.category_map[category_name] | default: category_name | slugify %}
      <a href="{{ site.category_archive.path | default: '/categories/' | relative_url }}{{ slug }}/">
        {{ category_name }} ({{ category_size }})
      </a>
    </li>
  {% endfor %}
</ul>
{% endif %}
